lib/firebase_config.dart
ios/Runner/GoogleService-Info.plist
web-dashboard/web/firebase-config.js

# Earth Engine scripts
earth-engine/scripts/

# Raw unprocessed data
data/raw/

# OS
.DS_Store
desktop.ini
desktop.yml

# Editor
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release